<launch>

  <!-- set arguments -->
  <arg name="hardware_arduino_enable" value="true" />
  <arg name="hardware_esc_enable" value="false" />
  <arg name="hardware_ss_enable" value="true" />

  <!-- load hardware interface parameters to parameter server -->
  <rosparam command="load" file="$(find avc_hardware_interface)/config/hardware_interface.yaml" ns="hardware" />

  <!-- if arduino is enabled, launch arduino interface node -->
  <group if="$(arg hardware_arduino_enable)">
    <node name="arduino_output_node" pkg="avc_hardware_interface" type="arduino_output_node" ns="hardware" output="screen" />
  </group>

  <!-- if ESC is enabled, launch esc node -->
  <group if="$(arg hardware_esc_enable)">
    <node name="esc_node" pkg="avc_hardware_interface" type="esc_node" ns="hardware" output="screen" />
  </group>

  <!-- if steering servo is enabled, launch steering servo node -->
  <group if="$(arg hardware_ss_enable)">
    <node name="steering_servo_node" pkg="avc_hardware_interface" type="steering_servo_node" ns="hardware" output="screen" />
  </group>

</launch>
